# fly.toml app configuration file generated for tax-code-rag on 2025-12-25T23:40:28Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'tax-code-rag'
primary_region = 'ord'

[build]

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[processes]
  app = "uvicorn src.http.app:app --host 0.0.0.0 --port 8000"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
